<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap" rel="stylesheet"> 
        {% if title %}
            <title>Shortify - {{ title }}</title>
        {% else %}
            <title>Shortify</title>
        {% endif %}
    </head>
    <body>
        <header>
            <h1>Shortify</h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <h4>© 2021 Shortify</h4>
            <h4>Developed by Kenny Nguyen</h4>
            <a href="#" class="fa fa-github-square"></a>
            <a href="https://www.linkedin.com/in/kennyqnguyen/" class="fa fa-linkedin-square"></a>
        </footer>

        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>